body{
  margin: 0; padding: 0; background: #fff;
}

#home-area{
  background-image: url("../img/background/borudaringukabe.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

#menu-btn{
  position: fixed;
  cursor: pointer;
  right: 3%;
  color: white;
}

#title{
  font-size: 15em;
  color: #fff;
}

#subtitle{
  font-size: 3rem;
}

#menu{
  width: 100%;
  display: none;
  bottom: 0;
  position: fixed;
}

#up{
  position: fixed;
  right: 3%;
  bottom: 5%;
  cursor: pointer;
  animation: vertical_9632 2.44s ease infinite;
  transform-origin: 50% 50%;
}

.btn{
  width: 100%;
  height: 200px;
}

#menu .row {
  padding: 1px;
}

article{
  font-size: 1.7rem;
}

img{
  margin: 30px auto;
}

section#about-area{
  background-color: antiquewhite;
}
section#work-area{
  background-color: aliceblue;
}
section#research-area{
  background-color: lightgreen;
}
section#improve-area{
  background-color: #ffff99;
}
section#contact-area{
  background-color: #212121 !important
}
h1{
  font-size: 2.5rem;
  color: #a5bf23;
  padding-top: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.image{
  width: 250px;
  height: 250px;
}

.btn-primary {
  background-color: black;
  border-color: antiquewhite;
}
.btn-primary:hover {
  color: black;
  background-color: white;
  border-color: antiquewhite;
}

/* work */
.work_title {
  color: darkblue;
}

/* research */
.research_title {
  color: darkgreen;
}

/* improve */
.improve_title {
  color: darkorange;
}

@media screen and ( max-width:450px ) {
  #home-area{
    background-image: url("../img/background/borudaringukabe.jpg");
    background-repeat: no-repeat;
    background-size: 450px;
    color: white;
  }
  #title{
    font-size: 3em;
  }
  #subtitle{
    font-size: 1.5rem;
  }
  article{
    font-size: 1.2rem;
  }
  h1{
    font-size: 3rem;
  }
  .image{
    width: 100px;
    height: 100px;
  }
}

@keyframes vertical_9632 {
  0% { transform:translate(0,-3px) }
  3.27869% { transform:translate(0,3px) }
  6.55738% { transform:translate(0,-3px) }
  9.83606% { transform:translate(0,3px) }
  13.11475% { transform:translate(0,-3px) }
  16.39344% { transform:translate(0,3px) }
  18.03279% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}